

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}



.form-nombre{
  margin: 15px auto;
  margin-bottom: 25px;
}

.form-apellido{
  margin: 15px auto;
  margin-bottom: 25px;
}

.form-dni{
  margin: 15px auto;
  margin-bottom: 25px;
}

.form-mail{
  margin: 15px auto;
  margin-bottom: 25px;
}

.form-telefono{
  margin: 15px auto;
  margin-bottom: 25px;
}

.form-relacion{
  margin: 15px auto;
  margin-bottom: 25px;
}

.formulario{
  display: flex;
}

.form_div{
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
  padding-right: 150px;

}

.image{
  display: flex;
  flex-wrap: wrap;
  
}

.g-recaptcha{
  margin: 15px auto;
  margin-bottom: 25px;
}

input[type="submit"]{
  margin: 15px auto;
  margin-bottom: 25px;
}

.error{
  margin: auto;
  color: red;
  padding-top: 20px;
  font-size: 16px;
}

